<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
  <%= form_with model: @task, url: tasks_path, method: :get, local: true do |form| %>
    <%= form.label :'name' %>
    <%= form.text_field :search_name %>
    <%= form.label :'status'%>
    <%= form.select :search_status, Task.statuses.keys.to_a, { include_blank:'選択してください'} %>
    <%= form.label :'label'%>
    <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
    <%= form.submit 'Search', class: "btn btn-primary" %>

  <%#=form_with url:tasks_path, method: :get, local: true do |form| %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>作成者</th>
      <th>タスク名</th>
      <th>コンテント</th>
      <th>期限</th>
      <th>状態</th>
      <th>優先度</th>
      <th>作成日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class = 'task_now'>
        <td><%= task.user.name%></td>
<%# ↑taskを作ったユーザーの名前を引っ張ってくる %>
        <td><%= task.name %></td>
        <td><%= task.content %></td>
        <td><%= task.limit%></td>
        <td><%= task.status%></td>
        <td><%= task.priority %></td>
        <td><%= task.created_at %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><% task.labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="index_page">
  <%= paginate @tasks %>
</div>

<br>
<p><%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %></p>
<p><%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %></p>
<%= link_to 'New Task', new_task_path %>
</body>
