<h1>管理ユーザー</h1>
<% form_with(model: [:admin, @user],local: true) do |form|%>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%@user%> from being saved:</h2>

        <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :タスク名 %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :コンテント %>
      <%= form.text_field :content %>
    </div>

    <div class="field">
      <%= form.label :期限 %>
      <%= form.date_field :limit %>
    </div>

    <div class="field">
      <%= form.label :状態 %>
      <%= form.select :status, Task.statuses.keys %>
      <%#= form.select :status,[["未着手","未着手"],["着手中","着手中"],["完了","完了"]],include_blank: "今の状態は？"%>
  <%#"未着手"で受け取った値を"未着手"に変換するという意味。それが着手中、完了にも適応されている %>
    </div>

    <div class="field">
      <% form.label :優先度 %>
      <%= form.select :priority, Task.priorities.keys%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>


<p>Find me in app/views/admin/users/new.html.erb</p>
